
.showcase-body{
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.showcase-body h1{
    text-align: center;
    font-size: 65px;
    font-weight: 800;
}
.showcase-body p{
    font-size: 20px;
}
.showcase-body .btn-secondary{
    background-color: var(--color-theme);
    border: none;

}